
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <header>
    <h1>Book Club</h1>
  </header>
  <section id="navigation">
    <a href=<%= new_book_path %>>Add Book</a>
    <a href=<%= books_path %>>All Books</a>
  </section>
